.currentArchivez {
  height: 80vh;
  margin-block: 2%;
  margin-top: 0;
  text-align: center;
  padding-top: 2rem;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #ffffff69;
}

.articlez {
  font-size: 25px;
  width: 50vw;
  border: 2px solid black;
  margin-block: 5%;
  margin-inline: 5%;
  margin-block:5%;
}

.articlez, .currentArchivez {
  width: 50vw;
  margin-inline: 5%;
}

.container1archieve{
  width:95vw;
}

.articleheadz {
  text-align: center; 
}

.articleitemz {
  border: 2px solid black;
  margin: 5px;
  font-size: 20px;
  border-bottom: 10px;
}

.headingz {
  font-size: 1.7rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-decoration: underline;
}

.gcontainerz>div:not(.headingz){
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 5px 5px 3rem 10px;
  text-align: center;
}

.gcontainerz {
  padding:2rem;
  width: 30vw;
  float: right;
  gap: 10px;
  border: 2px solid #ccc;
  font-size: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
}


.articlez {
  font-size: 25px;
  background-color: white;
  border-radius: 20px;
}

.articlezArch{
  border:none;
  background-color: #ffffff69;;
  padding-block:1rem; 
  border: 2px solid #ccc;
  display:grid;
  place-items: center;
  gap:1rem;
}

.articleheadz {
  text-align: center;
  margin-top:1rem;
}

.articleitemz {
  width:85%;
  border: 2px solid black;
  margin: 5px;
  font-size: 20px;
  padding:1rem;
  padding-top:0;
}


.articleitemz>p{
  margin-top:0;
}
