arch {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  min-height: 100vh;
}

br {
  display: block;
  margin: 6px 0;
  content: '\A';
}

button {
  margin: 8px;
  color: black;
  font-weight: bolder;
  font-size: 16px;
  background: none;
  padding-inline: 10px;
  padding-block: 15px;
  border-radius: 10px;
  border-top: none;
  transition: 0.5s;
}

button:hover {
  box-sizing: border-box;
  box-shadow: 4px 3px white;
}

.heading {
  grid-area: heading;
  height: 5vh;
  justify-content: center;
  display: flex;
  font-weight: bold;
  align-items: center;
  border: 2px solid black;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item {
  height: 25vh;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.gcontainer {
  display: row;
  grid-template-areas:
    "heading heading heading heading heading heading"
    "item1 item2 item3 item4 item5 item6";
  gap: 10px;
  font-size: 20px;
  float: right;
  width: 50vh;
  background-color: white;
  margin-right: 1vh;
}

.gcontainermain {
  display: grid;
  grid-template-areas:
    "heading "
    "item1 ";
  gap: 10px;
  width: 70vw;
  font-size: 20px;
  float: right;
  background-color: red;
}

.publishwithus {
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4 item5 item6 item7 item8 item9";
  gap: 10px;
  font-size: 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}

.article {
  font-size: 25px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}

.about1 {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}

.articlehead {
  text-align: center;
}

.articleitem,
.publishwithus {
  border: 2px solid black;
  margin: 5px;
  font-size: 20px;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: white;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-image: linear-gradient(60deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.815), rgb(0, 0, 0));
  backdrop-filter: blur(5px);
  display: flex;
  /* height:auto; */
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  border-radius: 30px 30px 0px 0px;
  flex-wrap: wrap;
  bottom: 0px;
  margin-top: auto;
  /* padding-bottom: 1em;  */
  height: fit-content;
}

.footer>div {
  padding-block: 2%;
}

.footer>div>ul>li {
  line-height: 2;
  text-align: left;
  list-style: inside;
  color: white;
  font-size: small;
}

.footer>div>h1 {
  color: white;

  font-size: x-large;
}

.footer_logo {
  /* transform:translate(0%,-20%); */
  padding-block: 2%;
  padding-left: 1%;
  border: none;
  width: 130px;
  object-fit: contain;
}

.currentArchive {
  width: 50vw;
  height: 70vh;
  margin-block: 2%;
  margin-inline: 10%;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
}

.article {
  font-size: 25px;
  width: 50vw;
  border: 2px solid black;
  margin-block: 5%;
  margin-inline: 10%;

}

.articlehead {
  text-align: center;
}

.articleitem {
  border: 2px solid black;
  margin: 5px;
  font-size: 20px;
}