body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-items: center;
  place-items: center;
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #f3f5f8, #ebf4fd);
}
*{
  box-sizing: border-box;
  scroll-padding: 100vh;
}

.headT{
  width:98vw;
}

hr{
  margin-bottom:1rem;
}

br {
  display: block;
  margin: 6px 0;
  content: '\A';
}

button{
  margin: 8px;
  color: #000;
  font-weight: bolder;
  font-size: 16px;
  background: none;
  padding-inline: 10px;
  padding-block: 15px;
  border-radius: 10px;
  border-top: none;
  transition: .5s;
  cursor: pointer;
}

.abCur{
  width:95vw;
}

.head {
  position: relative;
  display: grid;
  grid-template-columns: 80% auto;
  place-items: center;
  width: 100%;
  height: fit-content;
  top: 0.2vw;
  color: white;
  border: 2px solid black;
  border-radius: 0px 30px;
  background: #131d38;
  overflow: hidden;
}

.goHome {
  position: absolute;
  width: 10%;
  height: 90%;
  border-radius: 100%;
  z-index: 10;
  left: 3%;
}

.headbg {
  width: 95%;
  height: 80%;
  z-index: 1;
  opacity: 1;
  position: relative;
}

.title {
  margin-block: 0;
  margin-left: 10vw;
  font-size: 38px;
  position: relative;
}



.menu {
  padding: 0.5em 5rem;
  position:relative;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex:90px;
  border: 2px solid black;
  border-radius: 40px;
  border-top: none;
  overflow: hidden;
  background-color: #161e32;
  flex-wrap: wrap;
  gap: 10px;
}

.menu a {
  min-height: 3vh;
  font-weight: bolder;
  font-size: 14px;
  background: none;
  padding:6px 20px;
  border-radius: 10px;
  border-top: none;
  text-decoration: none;
  color: #fff;
  border:solid 2px grey;
  border-top:none;
}

.menu a:hover {
  border: 2px solid rgb(225, 227, 228);
  border-top: none;
}

.mainAboutIns {
  display: grid;
  grid-row-gap: 3rem;
  margin-inline: 3px;
  grid-template-columns: 1fr auto;
}


.register {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background: none;
  padding:15px 10px;
  border-radius: 10px;
  border-top: none;
  transition: 0.5s;
  border: solid 2px rgba(255, 255, 255, 0.404);
  color: white;
  font-size: 1vw;
  margin: 8px;
}

.register:hover {
  box-shadow: 4px 3px white;
}



.footer {
  padding-left:50px;
  background-image: linear-gradient(60deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.815), rgb(0, 0, 0));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  border-radius: 10px 10px 0px 0px;
  bottom: 0px;
  margin-top: auto;
  height: fit-content;
  width: 100%;
}

.footer>div {
  padding-block: 2%;
}

.footer>div>ul>li {
  line-height: 2;
  text-align: left;
  list-style: inside;
  color: white;
  font-size: small;
}

.footer>div>h1 {
  color: white;
  padding-left:40px;
  font-size: 90%;
}

.footer_logo {
  padding-block: 2%;
  padding-left: 1%;
  margin-right:8%;
  border: none;
  width: 10%;
  object-fit: contain;
}

@media(max-width:700px) {
  body {
    width: 98vw;
    overflow-x: hidden;
    margin-left: 1px;
  }
  
  .head {
    border-radius: 0%;
  }
  
  .register {
    margin: 8px;
    padding: 10px;
    font-size: 7px;
    margin-left: -2px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .footer_logo {
    padding-top: 5%;
    width: 30%
  }

  .footerDiv {
    width: 80%;
  }
}

a{
  text-decoration: none;
  color: #fff;
}


.sbmbtn {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  padding: 15px;
  padding-inline: 25px;
  margin: 10px auto;
  width: fit-content;
  height: fit-content;
  border: 2px solid #f793106f;
  background-color: #fed6b9;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: inset 0 0 0 0 #f793106f;
  transition: box-shadow ease-in-out .5s,color ease-out 1s, transform ease-out 1s, background-color ease-out 1s;
  transition-delay: .3s;
  overflow: hidden;
  clear: both;
}

.p {
  z-index: 1;
  margin: 0px;
  transform: scale(1);
  transition: transform 0.2s;
  transition-delay: 0.3s;
}

.sbmbtn:hover {
  transform: scale(1.05);
}

.sbmbtn:hover {
  background-color: #12fb1e00;
}


.sbmbtn::before {
  z-index: -1;
  content: '';
  border-radius: 8px;
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(70deg, transparent, #f793106f, transparent);
  transition: all 0.5s;
  transition-delay: .2s;
}

.sbmbtn:hover::before {
  left: 100%;
}

.sbmbtn:active {
  border: none;
}