body{
    min-height: 150vh;
}

.log {
    height: max-content;
    min-height: 150vh;
}

.login.hidden,
.reg.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%) rotateY(90deg);
    transition: visibility 0.5s, opacity 0.5s, transform 0.5s ease-in-out;
}

.login,
.reg {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) rotateY(0deg);
    width: 25em;
    height: 35em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

.registerz {
    margin: 8px;
    padding: 10px;
    font-size: 15px;
    margin-left: -2px;
}

.login-in {
    width: 25em;
    height: 35em;
    position: absolute;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.login-bg,
.reg-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -4;
    border-radius: 30px 140px 10px 70px;
}

.reg-bg {
    border-radius: 140px 30px 70px 10px;
}

.login-head {
    color: black;
    text-align: center;
    margin-block: 7em;
}

#xmarklogin,
#xmarkreg {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: scale(2);
    transition: 0.5s;
}

#xmarklogin:hover,
#xmarkreg:hover {
    transform: scale(2.5);
}

.txt-field {
    position: relative;
    width: 22em;
    margin-block: 2em;
    margin-inline: auto;
    border-bottom: 2px solid black;
}

.txt-field input {
    width: 20em;
    height: 3em;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
}

.txt-field label {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 0.5em;
    color: black;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}

.txt-field span::before {
    content: '';
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.5s;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
    top: -0.4em;
    color: white;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -1em 0 5.35em 2em;
    cursor: pointer;
    transition: 0.4s;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    display: block;
    width: 70%;
    height: 3.5em;
    margin-inline: auto;
    background: rgb(129, 163, 172);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 10px;
    border-top: none;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: rgb(39, 68, 77);
    font-size: 22px;
}

.signup {
    margin: 1em 0 0 6em;
}

.buttonz {
    display: inline-block;
    background-color: rgb(129, 163, 172);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonz:hover {
    background-color: rgb(39, 68, 77);
}